#nav-bg-color{
    background-color: beige;
}

body {
    margin: 0%;
}

#nav-bg-img {
    grid-column-start: 2;
    padding: 0%;
    height: 400px;
    width: 600px;
   background-image: url("https://placehold.co/600x400"); 
}

.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}