#nav-bg-color{
    background-color: beige;
}

body {
    margin: 0%;
}

#nav-bg-img {
    grid-column-start: 2;
    padding: 0%;
    height: 800px;
    width: 864px;
   background-image: url("https://placehold.co/800x864"); 
}

.navigation {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.earth-logo {
    width: 40px;
    height: 60px;
    background-image: url('earth.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 3%;
    left: 2%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}